background{background: fixed;}

.welcomepic{
    border: darkgray;
    position: absolute;
    width:500px;
    height:200px;
    font-size: 80px;
    text-align: center;
    top:200px;
    text-decoration-color: azure;

}



.title {color: #ff1493;
border-style: solid;
display:flex;
align-content: center;
border-width: 10px;
border-color:black;
padding: 5px;
border-radius: 10 white;
text-align: center;
margin: 5px;
font-size:xx-large;
background-color: pink;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: 800;
position:fixed;
width:100%;
top:5px;
}


.mbio {
border-style:hidden;
font-size: x-large;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
align-self:auto;
padding: 10px;
left:800px;
top:130px;
background-color:#ff1493;
font-weight: 900;
border-radius: 150px;
position:fixed;
}
.mbio:hover{background-color: cornflowerblue;
transition: 0.7s;}
.sbio {
    border-style:hidden;
    font-size: x-large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: fixed;
    left:300px;
    top:130px;
    align-self:auto;
    padding: 10px;
    border-radius: 150px;
    background-color: cornflowerblue;
    font-weight: 800;
    }
    .sbio:hover{background-color: #ff1493;
    transition: 0.7s;}

.button{
border-style:hidden;
font-weight: 900;
font:oblique 0.5;
align-content: center;
background:none;}

.button:hover{background-color: antiquewhite;
transition: 0.5s;
color: blueviolet;}

.button1{
    position: relative;
    border-radius: 30%;
    border-style:hidden;
    color: black;
    top: -150px;
    font-weight: 900;
    font:oblique 0.5;
    align-content: center;
    background:none}
    .button1:hover{background-color: antiquewhite;
        transition: 0.5s;
        color:rgba(94, 241, 160, 0.945);}

        .button2{
            border-style:hidden;
            font-weight: 900;
            font:oblique 0.5;
            align-content: center;
            background:none;}
            
            .button2:hover{
            transition: 350ms linear;
            color: blueviolet;}
            




.returnbutton{
    border-style: solid;
    grid-area:returnbutton;
    position: relative;
    font-weight: 900;
    font:oblique 0.5;
    background-color:beige;
    font-size: xx-large;
     }

.martha{text-decoration: double;
    border-style:double;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 500px;
    height:800PX;
    font-size: x-large;
    color:antiquewhite;
    font-weight:800;
    padding: 10px;
    border-width: 8px;
    background-color:#ff1493;
    position:relative;
    z-index:-1;
    left: 625px;
    top: 140px;}
.martha:hover{border-color: black;
transition-duration: 0.4s;}


body{background-size: cover;
background-attachment: fixed;
width:fit-content;}

.pictitle{color:antiquewhite;
    grid-area:pictitle;
    border-style:solid;
    border-width: 100px;
    border-color:black;
    padding: 5px;
    border-radius: 65%;
    align-items: center;
    text-align: center;
    font-size:xx-large;
    background-color:pink;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    align-content: center;
    
     }
     .pictitle:hover{
        color:chartreuse;
        background-color: blueviolet;
        transition-duration: 4.0s;
     }




.poem {border-style:double;
border-width: 10px;
font-family: 'Times New Roman', Times, serif;
color:white;
padding:6px;
z-index:-1;
font-size: x-large;
background-color:cornflowerblue;
position:absolute;
top:225px;}

.poem:hover{border-color: black;
transition-duration: 0.4s;}

.contact{position:relative;
text-decoration: solid;
border: 5px double black;
background-color: antiquewhite;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size:x-large;
text-align: center;
bottom:-330px;
width:600px;
height:350px;
left:700px;
z-index:2;
}

.contact:hover{
    max-width: 1000px;
    background-color: aquamarine;
    transition:blue 350ms linear 200ms;
    font-size:xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.homefooter {position:absolute;
width:2400;
font-size: xx-large;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: 900;
text-decoration: antiquewhite;
overflow: visible;
top: 1100px;
border-style: double;
border-width: 20px;
height: 500px;
background-color: blueviolet;}

.grid {
    display: grid;
    grid-template-areas: "pictitle pictitle"
                          "container container"
                          "container1 container1"
                          "container2 container2"
                          "container3 container3"
                          "container4 container4"
                          "pictfooter pictfooter";
                        grid-template-columns: 2fr 2fr ;
                        grid-template-rows: 1fr 1fr;
                        background-color: aqua;
                        position: relative;
                        text-align: center;
                        border:5px solid black;
                        margin: auto;
                        font-size: xx-large;
                        font-weight: 900;
                        align-content: center;

}

.container{
    grid-area:container;
    
    padding: auto;  
}

.container1{
    grid-area:container1;
    
    padding: auto;      
}

.container2{
    grid-area:container2;

    padding: auto;  
}

.container3{
    grid-area:container3;
        padding: auto;  
}

.container4{
    grid-area:container4;
    
    padding: auto;  
    }
.pictfooter{
grid-area:pictfooter;
padding:auto;
border: 2px double black;
font-weight: 900;
font-size: x-large;
background-color: aqua;



}
.biopage{
    position: relative;
    border-color: black;
    padding: 50px;
    background-color:rgb(233, 229, 222);
    font-weight: 900;
    font-size: xx-large;
    width: 100%;
    height: 150px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.biopage:hover{
    color: blanchedalmond;
    background-color: black;
    transition-duration: .9s;
}

.sstory{
    display:flex;
    justify-content:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    background-color: floralwhite;
    text-align: center;
    border: wheat;
    font-size: x-large;
}



.sstory:hover{color: antiquewhite;
background-color: black;
transition-duration: 5.0s;}

.cocoabio{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    font-size: x-large;
    position: relative;
    border: 50px solid plum;
    background-color:aliceblue;
    text-align: center;
     width: 900px;
    left:100px;}
    .cocoabio:hover{
        transition-duration: 15.0s;
        background-color:springgreen;
    }





    .cocoabeanwelcome {
        text-align: center;
        position: relative;
        font-size: xx-large;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 900;
        border: 25px solid plum;
        color:black;
        background-color: wheat;
        height: 100px;
        left:100px;}

.cocoabeanwelcome:hover{
    color: antiquewhite;
    background-color: skyblue;
    transition-duration: 6.0s;
}

.cocoabackground{
    color: lightyellow;
}


.newsbox{
    display:grid;
    grid-template-areas: "june june june"
                          "july july july"
                          "aug aug aug"
                          "sept sept sept";
                          grid-template-columns: 25% 50% 25%;
                          grid-template-rows:1fr 1fr 1fr 1fr 1fr;
                        text-align: center;
                        border:5px solid black;
                        margin: auto;
                        font-size: xx-large;
                        font-weight: 900;
                        align-content: center;
}

 .june {
    background-color: aqua;
    grid-area: june;
    
 }

.july {
    background-color: beige;
    grid-area: july;
}

.aug {
    background-color: blueviolet;
    grid-area: aug;
    border: 3px dotted pink;

}


.sept{
    background-color: chartreuse;
    grid-area: sept;

}



