background{background: fixed;}


.wrapper {
    display: grid;
    position: relative;
    grid-template-areas: "title1 title1"
                          "mbio  sbio"
                          "button3 button4"
                          "poem  martha"
                          "contact  imagefield"
                          "homefooter homefooter";
                          gap: 20px;
align-content: center;                        
background-color:black;
                    
                }



.title1 {  
    grid-area: title1;

text-align: center;

border: 10px double white;
border-color:black;
padding: 5px;
border-radius: 10 white;
font-size:xx-large;
background-color: pink;

}


.mbio {
    display: grid;
    grid-area: mbio;
border:2px solid black;
font-size: x-large;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
padding: 10px;
background-color:#ff1493;
font-weight: 900;

border-radius: 150px;
text-align: center;
}
.mbio:hover{background-color: cornflowerblue;
transition: 0.7s;}

.sbio {
    grid-area: sbio;
    display:grid;
    position: relative;
    border: 2px solid black;
    font-size: x-large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    text-align: center;
    border-radius: 150px;
    background-color: cornflowerblue;
    font-weight: 800;
    
    }
    .sbio:hover{background-color: #ff1493;
    transition: 0.7s;}

.button3{
    display:grid;
    grid-area: button3;
border: 2px solid black;
font-size: x-large;
font-weight: 900;
text-align: center;
font:oblique 0.5;
background:white;
border-radius: 150px;
width: 600px;
height: 40px;}

.button3:hover{background-color: antiquewhite;
transition: 0.5s;
color: blueviolet;}

.button1{
    position: relative;
    border-radius: 30%;
    border-style:hidden;
    color: black;
    top: -150px;
    font-weight: 900;
    font:oblique 0.5;
    align-content: center;
    background:none}
    .button1:hover{background-color: antiquewhite;
        transition: 0.5s;
        color:rgba(94, 241, 160, 0.945);}

        .button2{
            border-style:hidden;
            font-weight: 900;
            font:oblique 0.5;
            align-content: center;
            background:none;}
            
            .button2:hover{
            transition: 350ms linear;
            color: blueviolet;}
           
    .button4{
        display: grid;
        grid-area: button4;
        border: 2px solid black;
        font-size: x-large;
font-weight: 900;
font:oblique 0.5;
border-radius: 150px;
text-align: center;
width: 600px;
height: 40px;
background:white;
}
.button4:hover{background-color: antiquewhite;
transition: 0.5s;
color:lightgreen;}
      
.imagefield{
    display:grid;
    grid-area: imagefield;
    border:2px solid black;
    align-content: center;
}
.imagefield:hover{
    background-color: antiquewhite;
    width: 100;
   transition-delay: 1s;
   transition-duration: 300ms;
    font-size:xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 2px;
    margin:auto;
}


.returnbutton {    
    border-style: solid;
    grid-area:returnbutton;
    position: relative;
    font-weight: 900;
    font:oblique 0.5;
    background-color:beige;
    font-size: xx-large;
     }

.martha {text-decoration: double;
    display: grid;
    grid-area: martha;
    border-style:double;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 500px;
    height:900PX;
    font-size: x-large;
    color:antiquewhite;
    font-weight:800;
    padding: 10px;
    border-width: 8px;
    background-color:#ff1493;
    position:relative;
    align-content: center;
    }
.martha:hover{border-color: black;
transition-duration: 0.4s;}


body{background-size: cover;
background-attachment: fixed;
width:fit-content;}

.pictitle{color:antiquewhite;
    grid-area:pictitle;
    border-style:solid;
    border-width: 100px;
    border-color:black;
    padding: 5px;
    border-radius: 65%;
    align-items: center;
    text-align: center;
    font-size:xx-large;
    background-color:pink;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    align-content: center;
    
     }
     .pictitle:hover{
        color:chartreuse;
        background-color: blueviolet;
        transition-duration: 4.0s;
     }

.poem {
    display: grid;
    grid-area: poem;
    border-style:double;
border-width: 10px;
font-family: 'Times New Roman', Times, serif;
color:white;
font-size: x-large;
background-color:cornflowerblue;
position:relative;
align-content: center;
text-align: center;
}
.poem:hover{border-color: black;
transition-duration: 0.4s;}

.contact{position:relative;
text-decoration: solid;
border: 5px double black;
background-color: antiquewhite;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size:x-large;
text-align: center;
 z-index: 1;
}

.contact:hover{
   background-color: lightpink;
   width: 200%;
   transition-delay: 1s;
   transition-duration: 300ms;
    font-size:xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.homefooter {
    position:relative;
display: grid;
grid-area: homefooter;
font-size: xx-large;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: 900;
text-decoration: antiquewhite;
overflow: visible;
border-style: double;
border-width: 20px;
background-color: blueviolet;}

.grid {
    display: grid;
    grid-template-areas: "pictitle pictitle"
                          "container container"
                          "container1 container1"
                          "container2 container2"
                          "container3 container3"
                          "container4 container4"
                          "pictfooter pictfooter";
                        grid-template-columns: 2fr 2fr ;
                        grid-template-rows: 1fr 1fr;
                        background-color: aqua;
                        position: relative;
                        text-align: center;
                        border:5px solid black;
                        margin: auto;
                        font-size: xx-large;
                        font-weight: 900;
                        align-content: center;

}

.container{
    grid-area:container;
    
    padding: auto;  
}

.container1{
    grid-area:container1;
    
    padding: auto;      
}

.container2{
    grid-area:container2;

    padding: auto;  
}

.container3{
    grid-area:container3;
        padding: auto;  
}

.container4{
    grid-area:container4;
    
    padding: auto;  
    }
.pictfooter{
grid-area:pictfooter;
padding:auto;
border: 2px double black;
font-weight: 900;
font-size: x-large;
background-color:deepskyblue;



}
.biopage{
    position: relative;
    border-color: black;
    padding: 50px;
    background-color:rgb(233, 229, 222);
    font-weight: 900;
    font-size: xx-large;
    width: 100%;
    height: 150px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.biopage:hover{
    color: blanchedalmond;
    background-color: black;
    transition-duration: .9s;
}

.sstory{
    display:flex;
    justify-content:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    background-color: floralwhite;
    text-align: center;
    border: wheat;
    font-size: x-large;
}



.sstory:hover{color: antiquewhite;
background-color: black;
transition-duration: 5.0s;}

.cocoabio{
    display:flexbox;
    position: relative;
    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    font-size: x-large;
    position: relative;
    border: 50px solid plum;
    background-color:aliceblue;
    text-align: center;
     
    }
    .cocoabio:hover{
        transition-duration: 15.0s;
        background-color:springgreen;
    }

.babymarthapic{
    position: relative;
    display: flex;
    left: 300px;
}



    .cocoabeanwelcome {
        text-align: center;
        position: relative;
        font-size: xx-large;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 900;
        border: 25px solid plum;
        color:black;
        background-color: wheat;
        height: 100px;
        }

.cocoabeanwelcome:hover{
    color: antiquewhite;
    background-color: skyblue;
    transition-duration: 6.0s;
}

.cocoabackground{
    color: lightyellow;
}
.line1{
    border: 10px solid green;
    width:98%;
    height:30px;
    background-color: green;
}
.line2{
    border: 10px solid gold;
    width:98%;
    height:5px;
    background-color: gold;
}
.line3{
    border: 10px solid black;
    width:98%;
    height:30px;
    background-color: black;
}
.line4{
    border: 10px solid gold;
    width:98%;
    height:5px;
    background-color: gold;
}
.line5{
    border: 10px solid blue;
    width:98%;
    height:30px;
    background-color: blue;
}

.blogtitle{
    border:hidden;
    font-size: x-large;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}

.june24{
    border:2px double black;
    padding: 5px;
    background-color: bisque;
}





 .facts {
    background-color: aqua;

    border: 10px solid black;
    font-size:large;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: auto;
}

.footer{
    background-color: darkslategrey;
    grid-area: footer;

}

